// filepath: /Users/erljanrodrigo/Desktop/fus/Finance-Fusion-2/backend/.env
NEWS_API_KEY="your-news-api-key" # find it here "https://finnhub.io/register"
SECRET_KEY="django-insecure-6hf*=c3z+b*5i9gwc@#+9i1kjs*q3_jnss^e#l5p)(3!ji+6*1" # THIS IS A REAL SECRET, DO NOT SHARE
API_KEY="your-api-key" # create it here "https://openai.com/api/"