.body{
    background-color: #10002b;
    font-family: 'Quicksand';
    color: #e5e5e5;
}

.navbar{
    box-shadow: 1px 1px 10px #3c3c3c;
    background-color: #170f24;
}

.logo{
    height: 30px;
    /* width: 100px; */
}

.stocks-container{
    /* border: 1px solid white; */
    grid-template-columns: 1fr 2fr;
    display: grid;
    grid-template-areas: 
        'main right right right'
        'footer footer footer footer'
        'news news news news';
    padding: 5px 20px;
}

.stockpage-chart{
    /* border: 1px solid white; */
    padding: 10px;
    margin: 10px;
    grid-area: right;
    
}


.chart{
    /* border: 1px solid white; */
    border-radius: 5px;
    box-shadow: 1px 1px 10px 2px #515151;
    background-color: #0d0220;
    color: #1745fb;
}

.search-container{
    height: 10%;
    box-shadow: 1px 1px 10px 2px #515151;
    background-color: #0d0220;
    margin: 20px;
    /* padding: 10px; */
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: #f0f0f0; */
    /* border: 1px solid white; */
}

.search-form{
    /* border: 1px solid white; */
    width: 80%;;
    height: 60%;
    /* color: rgb(220, 39, 39); */
}

.search-input{
    /* border: 1px solid white; */
    background-color: #1c0b3a;
    border-radius: 5px;
    box-shadow: inset 1px 1px 10px 2px #a083ae;
    width: 70%;
    height: 100%;
    border: none;
    color: white;
    outline: none;
    padding: 10px;
}

.search-input::placeholder{
    /* margin-left: 10px; */
    color: white;
}


.search-btn{
    background-color: transparent;
    color: white;
    width: 25%;
    height: 97%;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px #a083ae;
    margin-left: 5px;
}


.search-btn:hover{
    transform: scale(1.05);
}

.search-btn:active{
    transform: scale(1);
}

.stock-details{
    /* border: 1px solid white; */
    grid-area: main;
    height: 80%;
    box-shadow: 1px 1px 10px 1px #515151;
    background-color: #0d0220;
    margin: 10px;
    border-radius: 5px;
    padding: 20px;
    position: relative;
}   


.summary{
    /* border: 1px solid white; */
    margin: 10px;
    margin-top: 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 2px #515151;
    background-color: #0d0220;
    /* width: 100%; */
    grid-area: footer;

}



.stock-name{
    /* border: 1px solid white; */
    font-size: 35px;
}

.stock-price{
    font-size: 2em;
    color: #ffffff;
}

span.span-curr{
    font-size: 15px;
}

.detail-tags{
    font-size: 17px;
}

.add-btn{
    /* border: 1px solid white; */
    position: absolute;
    bottom: 20px;
    left: 30%;
    right: 30%;
    height: 7%;
    background-color: transparent;
    color: #1745fb;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 2px #1745fb;

}

.add-btn:hover{
    /* box-shadow: 1px 1px 10px 2px #1745fb; */
    background-color: #1745fb ;
    color: white;
    border: none;
}


.remove-watchlist-btn{
    /* border: 1px solid white; */
    position: absolute;
    bottom: 20px;
    left: 30%;
    right: 30%;
    height: 7%;
    background-color: transparent;
    color: #fb1717;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 2px #fb1717;
    border: none;

}

.remove-watchlist-btn:hover{
    /* box-shadow: 1px 1px 10px 2px #fb1717; */
    background-color: #fb1717 ;
    color: white;
    border: noen;
}

.stock-news{
    grid-area: news;
    margin: 20px 10px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 2px #515151;
    background-color: #0d0220;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* fle */
    /* width: 100%; */
    /* height: 100%; */
    text-align: center;
    /* border: 1px solid white; */

}

.news-container{
    /* border: 1px solid white; */
    margin: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.each-news{
    margin: 10px;
    margin-top: 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 2px #515151;
    background-color: #0d0220;
    height: 100%;
    width: 25%;
}


.watchlist{
    /* border: 1px solid white; */
    width: 40%;
    height: 350px;
    overflow:auto ;
    padding: 20px;
    text-align: center;
    box-shadow: 1px 1px 10px 2px #515151;
    background-color: #0d0220;
    margin: 20px;
    border-radius: 5px;
    /* scroll-behavior:smooth; */
    scrollbar-width: thin; 
    scrollbar-color: #888 #1e1e1e;

}



.each-watchlist{
    /* border: 1px solid white; */
    text-align: left;
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    box-shadow: inset 1px 1px 5px 1px #515151;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #10002b;
    cursor: pointer;
}

.remove-btn{
    background-color: transparent;
    color: #fb1717;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 2px #fb1717;
    border: none;
}

.remove-btn:hover{
    /* box-shadow: 1px 1px 10px 2px #fb1717; */
    background-color: #fb1717 ;
    color: white;
    border: noen;
}

.watchlist-price{
    color: #74a6f0;
    font-size: x-large;
}


.login-page{
    /* border: 1px solid white; */
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#10002b;

    color: black;
    font-size: large;
}

.login-form{
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 1px 20px 1px #f3f1f1;
    background:rgba(255, 255, 255, 0.5);
}

.forms-login-register{
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 20px;
    /* text-align: center; */
    align-items: center;
    margin: 20px;
    justify-content: center;
    color: #0d0220;
}


.input-forms{
    margin: 20px;
    height: 50px;
    outline: none;
    width: 80%;
    padding: 10px;
    background-color:#10002b;
    /* background:rgba(255, 255, 255, 0.5); */
    border-radius: 10px;
    box-shadow: inset 1px 1px 10px 2px #a083ae;
    color: rgb(255, 254, 254);
    border: none;
}

.input-forms::placeholder {
    font-weight: lighter;
    font-size: large;
    opacity: 1;
    color: rgba(255, 255, 255, 0.941);
  }

.login-btn{
    width: 50%;
    /* margin: 20px; */
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #1745fb;
    color: white;
    font-size: large;
}

.login-btn:active{
    transform: scale(.9);
}

.log{
    color: rgb(2, 27, 152);
    font-weight: 500;
}


.budget-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* height: 100vh; */
    padding: 20px;
    position: relative;
}

.transaction-container{
    height: 750px;
    box-shadow: 1px 1px 10px 1px #515151;
    background-color: #0d0220;
    margin: 10px;
    border-radius: 5px;
    padding: 20px;
    /* overflow: auto;
    scrollbar-width: thin; 
    scrollbar-color: #888 #1e1e1e; */

}


.budget-chart{
    /* height: 60%; */
    box-shadow: 1px 1px 10px 1px #515151;
    background-color: #0d0220;
    margin: 10px;
    border-radius: 5px;
    padding: 20px;
    color: #1745fb;
    text-align: center;
}

.stockpage-chart{
    /* border: 1px solid white; */
    padding: 10px;
    margin: 10px;
    grid-area: right;
    
}


.chart{
    /* border: 1px solid white; */
    border-radius: 5px;
    box-shadow: 1px 1px 10px 2px #515151;
    background-color: #0d0220;
    color: #1745fb;
}


.transac-head{
    /* border: 1px solid white; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #10002b;
    border-radius: 5px;
    box-shadow: inset 1px 1px 10px 1px #a083ae;

}

.transac-head button{
    margin: 15px;
    background-color: transparent;
    color: #3b7095;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 2px #3b7095;
}

.transac-head button:hover{
    /* box-shadow: 1px 1px 10px 2px #1745fb; */
    background-color: #3b7095 ;
    color: white;
    border: none;
}


.transac-list{
    /* border: 1px solid white; */
    padding: 20px;
    height: 450px;
    overflow: auto;
    scrollbar-width: thin; 
    scrollbar-color: #888 #1e1e1e;
    background-color: #10002b;
    box-shadow: inset 1px 1px 10px 1px #a083ae;
    border-radius: 5px;
}


.add-transac{
    /* border: 1px solid white; */
    padding: 20px;
    text-align: center;

}

.add-transac button{
    height: 30px;
    width: 80px;
    margin: 15px;
    background-color: transparent;
    color:white;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 2px #c8c7c8;
}

.add-transac button:hover{
    background-color: white;
    color: black;
}

.input-transac{
    margin: 0 5px;
    outline: none;
    border: none;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
}

.input-transac.amount{
    width: 90px;
}


.transac-item{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid white; */
    margin: 20px 5px;
    align-items: center;
    height: 50px;
    width: 98%;
    padding: 10px;
    position: relative;
    border-radius: 5px;
    background-color: #0d0220;
    box-shadow: 1px 1px 10px 1px #a083ae;

}


.subtract-transac{
    width: 100px;
    /* border: 1px solid white; */
    color: red;
    margin-bottom: 0;

}


.transac-values{
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    margin-bottom: 0;
    align-items: center;
}


.remove-transac{
    background-color: transparent;
    color: #fb1717;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 2px #fb1717;
    border: none;
}


.remove-transac:hover{
    color: white;
    background-color: #fb1717;
}


.edit-transac{
    background-color: transparent;
    color: #3b7095;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 2px #3b7095;
    width: 50px;
}

.edit-transac:hover{
    color: white;
    background-color:#3b7095 ;
}



.modal-overlay{
    /* border: 1px solid white; */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    padding: 20px;
    z-index: 2;
    background-color: #0d0220;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 2px #515151;
}


.modal-overlay.open{
    opacity: 1;
}

.add-watchlist-btn{
    margin-top: 50px;
    background-color: transparent;
    color: #1745fb;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 2px #1745fb;
}

.add-watchlist-btn:hover{
    color: white;
    background-color: #1745fb;
}

.chatbot-container{
    /* border: 1px solid white; */
    display: flex;
    height: 100%;
    width: 100vw;
    justify-content: center;
    align-items: center;
    position: relative;
}

.chatbot-display{
    /* border: 1px solid white; */
    width: 50%;
    height: 700px;
    overflow: auto;
    margin-top: 40px;
    padding: 20px;
    padding-bottom: 70px;
    box-shadow: 1px 1px 10px 1px #515151;
    background-color: #0d0220;
    border-radius: 5px;
    line-height: 1.5;
    scrollbar-width: thin; 
    scrollbar-color: #888 #1e1e1e; 
}

.chat-form{
    /* border: 1px solid white; */
    height: 6%;
    position: absolute;
    bottom: 0px;
    /* background-color: #10002b; */
    left: 50%;
    transform: translate(-50%);
    width: 50%;
    padding: 5px;
    margin: 10px;
}

.chat-input{
    width: 85%;
    height: 100%;
    background-color: #1c0b3a;
    border-radius: 5px;
    box-shadow: inset 1px 1px 10px 2px #a083ae;
    /* width: 70%; */
    /* height: 100%; */
    border: none;
    color: white;
    outline: none;
    padding: 10px;

}

.chat-search{

    background-color: #1c0b3a;
    color: white;
    width: 10%;
    height: 100%;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px #a083ae;
    margin-left: 5px;
}


.user-chat{
    /* border: 1px solid white; */
    /* left: 5px; */
    margin: 20px;
    /* align-self: flex-end; */
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    
}

/* .bot-chat{
    align-self: flex-start;
} */